* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/pexels-andre-moura-4021523.jpg");
  background-color: rgb(0 0 0/ 0.5);
  background-blend-mode: multiply;
  color: white;

}

#section1 {
  height: 37vh;
  //background-color: grey;

  #heading {
    text-decoration: underline;
  }

  #wallet_icon {
    display: flex;
    margin: auto;
    font-size: 8em;
  }
}


#row3 {
  display: flex;
  justify-content: center;
  gap: 1em;
}

#add_funds {
  width: 12em;
  background: transparent;
  border: 1px solid white;
  border-radius: 20px;
  transition: 300ms ease-out;

  &:hover {
    background-color: white;
    color: black;
  }
}

#section2 {
  //height: 7vh;
  //background-color: white;
}

#withdraw_funds {
  width: 12em;
  background: transparent;
  border: 1px solid white;
  border-radius: 20px;
  transition: 300ms ease-out;

  &:hover {
    background-color: white;
    color: black;
  }
}

#tabs-swipe-demo {
  background-color: white;
  border-radius: 40px 40px 0 0;
}

#section3 {
  height: 56vh;
  background-color: white;
  padding-top: 1em;;
}

.transaction1 {
  background-color: rgb(0 0 0 / 0.3);
  padding: 1em;
  width: 80%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  border-radius: 5px;
}

//PROGRESS BAR
.progress_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 500ms ease-in-out;
  row-gap: 30px;
  width: 500px;
  padding: 50px 0;
  /*background-color: #0d6efd;*/
  border-radius: 8px;
}

.circular_progress {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background: conic-gradient(#ef9a9a 3.6deg, white 0deg);
  box-shadow: 0 0 10px -1px black;
}

.circular_progress::before {
  position: absolute;
  content: '';
  height: 210px;
  width: 210px;
  border-radius: 50%;
  background: white;
  box-shadow: inset 0 0 5px -1px rgb(0 0 0 / 0.5);
}

.progress_value {
  font-family: "MV Boli", sans-serif;
  position: relative;
  font-size: 30px;
  font-weight: 500;
}

.texts {
  font-family: "MV Boli", sans-serif;
  position: relative;
  font-size: 20px;
  font-weight: 500;
}

//[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[MEDIA QUERIES]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]
@media all and (max-width: 500px) {
  body{
    height: auto;
  }
  #section2{
    margin-top: 1.5em;
  }
}
@media all and (max-width: 400px) {
  body{
    height: auto;
  }
  #section2{
    margin-top: 5em;
  }
}