body {
  background-image: url("../images/plant.jpg");
  background-position: top;
  background-color: rgb(0 0 0/ 0.5);
  background-blend-mode: multiply;
  background-attachment: fixed;
  color: white;
}

//.section2 {
//  background-color: rgb(255 255 255 / 0.8);
//  width: 80vw;
//  display: block;
//  margin: auto;
//  border-radius: 35px;
//  padding: 1em;
//}

#icon_container {
  display: flex;
  justify-content: center;

  .target_icon {
    font-size: 90px;
  }
}

#back_button {
  display: grid;
  place-items: center;

  .back_icon {
    font-size: 2em;
  }
}

#heading_list {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#heading_items {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: transparent;

  #icon_container {
    width: 2.5em;
    height: 2.5em;
    background-color: green;
    color: white;
    border-radius: 50%;
  }
}

.section3 {

}

//[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[MEDIA QUERIES]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]
@media all and (max-width: 425px) {
  //.section2 {
  //  width: 90vw;
  //}
  #heading_list {
    border-bottom: 1px solid black;
  }
}
