html{
  scroll-behavior: smooth;
}
body {
  background-image: url("../images/plant.jpg");
  background-position: center;
  background-color: rgb(0 0 0/ 0.5);
  background-blend-mode: multiply;
  background-attachment: fixed;
  color: white;
  width: 100vw;
}

#wallet_icon {
  font-size: 10em;
}

.fund {
  display: flex;
  justify-content: center;
  column-gap: 1em;

  .add_funds {
    background-color: transparent;
    width: 15em;
    border-radius: 50px;
    border: 1px solid white;
    transition: 300ms ease-in-out;

    &:hover {
      background-color: white;
      color: black;
      box-shadow: 0 0 15px -1px white;
    }
  }
}


.section2 {
  width: 100vw;
  padding-right: 2em;
  padding-left: 2em;
}

.section2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.target_container {
  width: 22em;
  height: 16em;
  //border: 1px solid white;
  background-color: rgb(255 255 255 / 0.8);
  color: black;
  box-shadow: 0 0 10px -2px white;
  border-radius: 20px;
  display: grid;
  padding: 1em;
  grid-template-columns: 3fr 1px 2fr;
  transition: 300ms ease-out;

  .divider {
    width: 1px;
    height: 11em;
    border: 1px solid black;
  }

  &:hover {
    cursor: pointer;
    //background-color: rgb(0 0 0 / 0.5);
          background-color: rgba(68, 201, 50, 0.5);
    color: white;

    .target_description {
      border-top: 1px solid white;
    }

    .divider {
      border: 1px solid white;
    }
  }

  .target_icon_container {
    display: flex;
    justify-content: center;
    align-items: center;

    .target_icon {
      font-size: 4em;
    }
  }

  .target_content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
  }

  .target_description {
    border-top: 1px solid black;
    grid-column: 1 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#details_row {
  display: flex;
  justify-content: center;
  column-gap: 2em;

  .left_side {
    width: 10em;
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid whitesmoke;
    transition: 300ms ease-out;

    &:hover {
      background-color: white;
      color: black;
      box-shadow: 0 0 12px -1px white;
      border: 2px solid black;
    }
  }

  .right_side {
    width: 10em;
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid whitesmoke;
    transition: 300ms ease-out;

    &:hover {
      background-color: white;
      color: black;
      box-shadow: 0 0 12px -1px white;
      border: 2px solid black;
    }
  }
}

footer {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 15vw;
  background-color: rgb(255 255 255 / 0.3);
  font-size: 15px;
  padding: 1em;

  .socials {
    width: 80%;
    background-color: rgb(255 255 255 / 0.3);
    border-radius: 30px;

    .socials_details {
      text-align: center;
      padding-top: 1em;
      padding-bottom: 1em;
    }

    .socials_icons {
      font-size: 30px;
      display: flex;
      justify-content: space-evenly;
      padding-bottom: 1em;

      .facebook {
        color: white;
        transition: 300ms ease-in;

        &:hover {
          cursor: pointer;
          color: #3b5998;
        }
      }

      .instagram {
        color: white;
        transition: 300ms ease-in;

        &:hover {
          cursor: pointer;
          color: black;
        }
      }

      .twitter {
        color: white;
        transition: 300ms ease-in;

        &:hover {
          cursor: pointer;
          color: #00acee;
        }
      }
    }
  }
}

// [[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[MEDIA QUERIES]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]
@media all and (max-width: 1000px) {
  .section2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
  }
  .target_container {
    width: 22em;
    height: 16em;
    //border: 1px solid white;
    background-color: rgb(255 255 255 / 0.8);
    color: black;
    box-shadow: 0 0 10px -2px white;
    border-radius: 20px;
    display: grid;
    padding: 1em;
    grid-template-columns: 3fr 1px 2fr;
    transition: 300ms ease-out;

    .divider {
      width: 1px;
      height: 11em;
      border: 1px solid black;
    }

    &:hover {
      cursor: pointer;
      background-color: rgba(68, 201, 50, 0.5);
      color: white;

      .target_description {
        border-top: 1px solid white;
      }

      .divider {
        border: 1px solid white;
      }
    }

    .target_icon_container {
      display: flex;
      justify-content: center;
      align-items: center;

      .target_icon {
        font-size: 4em;
      }
    }

    .target_content {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 1.5em;
    }

    .target_description {
      border-top: 1px solid black;
      grid-column: 1 / 5;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  footer{
    background-color: transparent;
  }

}

@media all and (max-width: 425px) {
  body {
    background-image: url("../images/plant.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(0 0 0/ 0.5);
    background-blend-mode: multiply;
    //background-attachment: fixed;
    color: white;

  }
  .section2 {
    a {
      margin-bottom: 1em;
    }
  }
  footer{
    background-color: transparent;
    margin-top: 5vh;
    .socials{
      margin-top: 5vh;
    }
  }
}
