{% extends 'alan_code.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% block dashboard %}
    <section class="content-header" style="width: 93%; margin-left: 5.6%; padding-left: 0; ">
        <h2> Audit Report</h2>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('alan_code') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Audit Report</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <br>
    <div class="content-top-1 box box-success">
        <div class="box-body">
            <br>

            <table class="ui celled table" width="100%" id="auditReportTable">
                <thead>
                <tr>
                    <th></th>
                    <th>User Type</th>
                    <th>Action Performed</th>
                    <th>Time Performed</th>
                    <th>Status</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

    <script>
        $(document).ready(function () {

            let table = $('#auditReportTable').DataTable({
                destroy: true,
                responsive: false,
                "ajax": {
                    url: '/audit-report-json/',
                    type: 'get'
                },
                "order": [[0, 'desc']],
                select: {
                    style: 'single',
                    selector: 'tr'
                },
                {#having a checkbox#}
                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0
                }],
                scrollY: "800px",
                scrollX: true,
                scrollCollapse: true,
                paging: true,
                fixedColumns: true,
                lengthChange: true,
                "rowCallback": function (nRow, aData) {
                    $('td', nRow).eq(0).html('')
                    if (aData[6] !== null) {
                        $('td', nRow).eq(1).html(
                            '<div class="btn btn-success">Admin</div>'
                        )
                    } else if (aData[7] !== null) {
                        $('td', nRow).eq(1).html(
                            '<div class="btn btn-info">Vendor</div>'
                        )
                    } else if (aData[8] !== null) {
                        $('td', nRow).eq(1).html(
                            '<div class="btn btn-secondary" style="background-color: darkgrey">Farmer</div>'
                        )
                    }
                    if (aData[4] === '1') {
                        $('td', nRow).eq(4).html('Success')
                    } else if (aData[4] === '0') {
                        $('td', nRow).eq(4).html('Failed')
                    }

                }
            });

            let buttons = new $.fn.dataTable.Buttons(table, {
                buttons: ['csvHtml5', 'excelHtml5', 'pdfHtml5', 'colvis']
            });

            buttons.container().appendTo($('div.right.aligned.eight.column:eq(0)', table.table().container()));
        });

    </script>
{% endblock %}
</body>
</html>