{% extends 'alan_code.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Customer Summary</title>
</head>
<body>
{% block dashboard %}
    <section class="content-header"
             style="width: 93%; margin-left: 5.6%; padding-left: 0;">
        <h2> Customer Summary</h2>
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Customer Summary</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <br>
    <div class="content-top-1 box box-success">
        <div class="box-body">
            <br>
            <div class="section1">
                <table class="ui celled table" width="100%" id="customerSummary">
                    <thead>
                    <th></th>
                    <th>Farmer Name</th>
                    <th>County</th>
                    <th>Type of land</th>
                    <th>Amount of land</th>
                    <th>Vendor Name</th>
                    <th>Saving Category</th>
                    <th>Saving Target</th>
                    <th>% saved</th>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {

            let table = $('#customerSummary').DataTable({
                destroy: true,
                responsive: false,
                "ajax": {
                    url: '/customer-summary-json/',
                    type: 'get'
                },
                "order": [[0, 'asc']],
                select: {
                    style: 'single',
                    selector: 'tr'
                },
                {#having a checkbox#}
                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0
                }],
                scrollY: "800px",
                scrollX: true,
                scrollCollapse: true,
                paging: true,
                fixedColumns: true,
                lengthChange: true,
                "rowCallback": function (nRow, aData) {
                    $('td', nRow).eq(0).html('')
                }
            });

            let buttons = new $.fn.dataTable.Buttons(table, {
                buttons: ['csvHtml5', 'excelHtml5', 'pdfHtml5', 'colvis']
            });

            buttons.container().appendTo($('div.right.aligned.eight.column:eq(0)', table.table().container()));
        });
    </script>
{% endblock %}
</body>
</html>