{% extends 'alan_code.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Validate Products</title>
    {#    <link rel="stylesheet" href="{{ url_for('static', filename='/css/materialize.min.css') }}">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/admin_product_validation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/m_icons.css') }}">
    {#    datatables#}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/jquery.dataTables.min.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='/js/jquery-3.6.1.min.js') }}"></script>
    <!--IOS support-->
    <link rel="apple-touch-icon" href="../static/images/pngwing.com.png">
    <meta name="apple-web-app-status-bar" content="#00b0ff">
</head>
<body>

{% block dashboard %}
    <section class="content-header" style="width: 93%; margin-left: 5.6%; padding-left: 0; ">
        <h2>Registered Farmers</h2>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('alan_code') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Registered Farmers</li>
        </ol>
    </section>
{% endblock %}
{% block content %}
    {#    <div class="heading" style="position: relative; left: 50vw; top: 10vh;">#}
    {#        <h3 style="text-decoration: underline;">View Users</h3>#}
    {#    </div>#}
    <br>
    <div class="content-top-1 box box-success">
        <div class="box-body">
            <br>
            <div class="section1x">
                <table class="ui celled table " width="100%" id="myTable">
                    <thead>
                    <tr>
                        {#                        <th>#</th>#}
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Gender</th>
                        <th>Phone Number</th>
                        <th>ID Number</th>
                        {#                        <th>Email</th>#}
                    </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
    {#[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[JAVASCRIPT]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]#}
    {#ionicons#}
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    {#    <script type="text/javascript" src="{{ url_for('static', filename='/js/materialize.min.js') }}"></script>#}
    {#link to app.js for service worker#}
    <script src="../static/js/app.js"></script>
    {#datatables#}
    <script type="text/javascript" src="{{ url_for('static', filename='/js/jquery.dataTables.min.js') }}"></script>
    <script>
        //stop auto submit on reload
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }

        //datatables
        $(document).ready(function () {
            let table = $('#myTable').DataTable({
                {#dom:#}
                {#    "<'row'<'col-sm-6'B><'col-sm-6'f>>" +#}
                {#    "<'row'<'col-sm-12'tr>>" +#}
                {#    "<'row'<'col-sm-4'i><'col-sm-4 text-center'l><'col-sm-4'p>>",#}
                destroy: true,
                responsive: false,
                "ajax": {
                    url: '/view-users-json/',
                    type: 'get'
                },
                "order": [[0, 'asc']],
                select: {
                    style: 'none',
                    selector: 'td:first-child'
                },
                scrollY: "800px",
                scrollX: true,
                scrollCollapse: true,
                paging: true,
                fixedColumns: true,
                lengthChange: true,
                columnDefs: [{
                    targets: 0
                }]
            });
            {#$('#offersTable').dataTable({#}
            {#    dom:#}
            {#        "<'row'<'col-sm-6'B><'col-sm-6'f>>" +#}
            {#        "<'row'<'col-sm-12'tr>>" +#}
            {#        "<'row'<'col-sm-4'i><'col-sm-4 text-center'l><'col-sm-4'p>>"#}
            {#1  });#}
            let buttons = new $.fn.dataTable.Buttons(table, {
                buttons: ['excelHtml5', 'pdfHtml5', 'colvis']
            });
            buttons.container().appendTo($('div.right.aligned.eight.column:eq(0)', table.table().container()));

        });

    </script>
{% endblock %}
</body>
</html>