{% extends 'alan_code.html' %}

{% block dashboard %}
    <section class="content-header" style="width: 93%; margin-left: 5.6%; padding-left: 0; ">
        <h2>Vendor Product Validation</h2>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('alan_code') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Vendor Product Validation</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <br>
    <div class="content-top-1 box box-success">
        <div class="box-body">
            <div class="flash" style="text-align: center;">
                {% include 'includes/flashmsg_bootstrap.html' %}
            </div>
            <br>
            {#            edit btn#}
            <div class="{#box-tools pull-left#}"
                 style="padding-right: 30px; display: flex; justify-content: flex-end; column-gap: 1em;">
                {#                suspend button#}
                <button class="btn btn-warning" id="suspendProduct" style="width: max-content; margin-bottom: 5px;"
                >Suspend Product
                </button>

                {#                edit button#}
                <button type="button" id="editButton" class="btn btn-info btn-sm"
                        style="width: max-content; margin-bottom: 5px;"><i
                        class="fa fa-edit"></i> Change Status
                </button>
            </div>
            {#            <button class="btn btn-warning" id="suspendProduct" style="width: max-content; margin-bottom: 5px;">Suspend#}
            {#                Product#}
            {#            </button>#}
            {#            suspend product form#}
            {#            <form action="{{ url_for('admin_suspend_product') }}" method="post" hidden>#}
            {#                <input type="text" name="suspend_product" id="suspend_product" value="Suspended" readonly>#}
            {#                <label for="suspend_product"></label>#}
            {#                <input type="text" name="materials_id" id="materials_id" readonly>#}
            {#                <button type="submit" id="suspendProductBtn">Submit</button>#}
            {#            </form>#}


            {#            edit modal#}
            <a type="button" id="emodal" data-toggle="modal" data-target="#edit_modal"></a>
            <div class="modal fade" id="edit_modal" tabindex="-1"
                 role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <form method="post">
                        <input type="hidden" id="id" name="vendor_id">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"
                                    id="exampleModalLabel"></h5>
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {#                            body#}
                            <div class="modal-body">
                                <div class="form-group row">
                                    <label for="action" class="col-sm-2 col-form-label">Commission:</label>
                                    <div class="col-sm-10">
                                        <input type="hidden" name="material_id" id="material_id">
                                        <select name="action_selected" id="action" class="form-control">
                                            <option value="" selected disabled id="selected">Please select an action
                                            </option>
                                            <option value="accepted">Accept</option>
                                            <option value="declined">Reject</option>
                                        </select>
                                    </div>
                                </div>


                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">
                                    Close
                                </button>
                                <button type="submit" class="btn btn-primary">Save changes
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="section1">

                <table class="ui celled table " width="100%" id="productsTable">
                    <thead>
                    <tr>
                        <th></th>
                        {#                        <th>Vendor Name</th>#}
                        {#                        <th>Phone Number</th>#}
                        <th>Organization</th>
                        <th>Item</th>
                        <th>Available in...</th>
                        <th>Quantity per Acre</th>
                        <th>Price per KG / L</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var table = $('#productsTable').DataTable({
                destroy: true,
                responsive: false,
                "ajax": {
                    url: '/admin-view-vendor-products-json/',
                    type: 'get'
                },
                "order": [[0, "desc"]],
                select: {
                    style: 'single',
                    selector: 'tr'
                },
                {#having a checkbox#}
                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0
                }],
                scrollY: "800px",
                scrollX: true,
                scrollCollapse: true,
                paging: true,
                fixedColumns: true,
                lengthChange: true,
                "rowCallback": function (nRow, aData) {
                    {#removing the values on a checkbox#}
                    $('td', nRow).eq(0).html('');
                },

            });

            let buttons = new $.fn.dataTable.Buttons(table, {
                buttons: ['excelHtml5', 'pdfHtml5', 'colvis']
            });
            buttons.container().appendTo($('div.right.aligned.eight.column:eq(0)', table.table().container()));

            $('#editButton').click(function () {
                if (table.rows('.selected').data().length > 0) {
                    let row = table.rows('.selected').data()[0];
                    $('#material_id').val(row[0])
                    $('#selected').html(row[8]);
                    {#console.log(row)#}
                    $('#emodal').click()
                } else {
                    alert("Please select an entry");
                }
            });

            {#$('#suspendProduct').click(function () {#}
            {#    if (table.rows('.selected').data().length > 0) {#}
            {#        let row = table.rows('.selected').data()[0]#}
            {##}
            {#        $('#materials_id').val(row[0])#}
            {#        $('#suspendProductBtn').click()#}
            {#    } else {#}
            {#        alert("Please select an entry")#}
            {#    }#}
            // });
        });
    </script>
{% endblock %}