{% extends 'alan_code.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Validate Products</title>
    {#    <link rel="stylesheet" href="{{ url_for('static', filename='/css/materialize.min.css') }}">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/admin_product_validation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/m_icons.css') }}">
    {#    datatables#}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/jquery.dataTables.min.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='/js/jquery-3.6.1.min.js') }}"></script>
    <!--IOS support-->
    <link rel="apple-touch-icon" href="../static/images/pngwing.com.png">
    <meta name="apple-web-app-status-bar" content="#00b0ff">
</head>
<body>
{% block dashboard %}
    <section class="content-header" style="width: 93%; margin-left: 5.6%; padding-left: 0; ">
        <h2>Vendor Products</h2>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('alan_code') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Vendor Products</li>
        </ol>
    </section>
{% endblock %}
{% block content %}
    {#    <div class="heading" style="position: relative; left: 50vw; top: 10vh;">#}
    {#        <h3 style="text-decoration: underline;">View Products</h3>#}
    {#    </div>#}
    <br>
    <div class="content-top-1 box box-success">
        <div class="box-body">
            <br>
            <div class="section1">
                <div class="btnContainer" style="display: flex; justify-content: flex-end">
                    <button class="btn btn-warning" id="suspendProduct" style="width: max-content; margin-bottom: 5px;">
                        Suspend
                        Product
                    </button>
                </div>
                {#            suspend product form#}
                <form action="{{ url_for('admin_suspend_product') }}" method="post" hidden>
                    <input type="text" name="suspend_product" id="suspend_product" value="Suspended" readonly>
                    <label for="suspend_product"></label>
                    <input type="hidden" name="product_id" id="product_id" readonly>
                    <button type="submit" id="suspendProductBtn">Submit</button>
                </form>
                <table {#class="display black-text"#} class="ui celled table " width="100%" id="myTable">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Organization</th>
                        <th>Product</th>
                        <th>Quantity per Acre( in KGs )</th>
                        <th>Price per KG ( in Ksh )</th>
                        <th>Region</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <br>
    {#[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[JAVASCRIPT]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]#}
    {#ionicons#}
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    {#    <script type="text/javascript" src="{{ url_for('static', filename='/js/materialize.min.js') }}"></script>#}
    {#link to app.js for service worker#}
    <script src="../static/js/app.js"></script>
    {#datatables#}
    <script type="text/javascript" src="{{ url_for('static', filename='/js/jquery.dataTables.min.js') }}"></script>
    <script>
        //stop auto submit on reload
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }

        //datatables
        $(document).ready(function () {
            {#$('#myTable').dataTable();#}
            //datatables
            $(document).ready(function () {
                {#$('#myTable').DataTable();#}
                var table = $('#myTable').DataTable({
                    destroy: true,
                    responsive: false,
                    "ajax": {
                        url: '/admin-view-products-json/',
                        type: 'get'
                    },
                    "order": [[0, "desc"]],
                    select: {
                        style: 'single',
                        selector: 'tr'
                    },
                    {#having a checkbox#}
                    columnDefs: [{
                        orderable: false,
                        className: 'select-checkbox',
                        targets: 0
                    }],
                    scrollY: "800px",
                    scrollX: true,
                    scrollCollapse: true,
                    paging: true,
                    fixedColumns: true,
                    lengthChange: true,
                    "rowCallback": function (nRow, aData) {
                        {#removing the values on a checkbox#}
                        $('td', nRow).eq(0).html('');

                    }
                });

                let buttons = new $.fn.dataTable.Buttons(table, {
                    buttons: ['excelHtml5', 'pdfHtml5', 'colvis']
                });
                buttons.container().appendTo($('div.right.aligned.eight.column:eq(0)', table.table().container()));
                $('#suspendProduct').click(function () {
                    if (table.rows('.selected').data().length > 0) {
                        let row = table.rows('.selected').data()[0]

                        $('#product_id').val(row[0])
                        $('#suspendProductBtn').click();
                        {#confirm('Are you sure you want to suspend this offer?')#}
                        if (confirm('Are you sure you want to delete this?') === true) {

                        } else {
                            {#prevent form submission#}
                            $('form').click(function (event) {
                                event.preventDefault()
                            });
                        }

                    } else {
                        alert("Please select an entry")
                    }
                });
            });
        });
    </script>
{% endblock %}
</body>
</html>