{% extends 'alan_code.html' %}

{% block dashboard %}
    <section class="content-header" style="width: 93%; margin-left: 5.6%; padding-left: 0; ">
        <h2>Set Region</h2>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('alan_code') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Set Region</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <br>
    <br>
    {% include 'includes/flashmsg_bootstrap.html' %}
    <div class="content-top-1 box box-success">
        <div class="box-body">
            <br>

        </div>
    </div>
    <script>

    </script>
{% endblock %}