{% extends 'alan_code.html' %}

{% block dashboard %}
    <section class="content-header" style="width: 93%; margin-left: 5.6%; padding-left: 0; ">
        <h2>Set Region</h2>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('alan_code') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Set Region</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <br>
    <br>
    {% include 'includes/flashmsg_bootstrap.html' %}

    <div class="content-top-1 box box-success">
        <div class="box-body">

            <form action="{{ url_for('add_counties_json') }}" method="post">
                {#            `Category Name#}
                <div class="row">
                    <div class="input-field col s12">
                        <div class="col-md-s12">
                            <label for="county_name"></label>
                            <div class="input-group">
                                <div class="input-group-addon" style="width: 12em;">County Name:</div>
                                <input type="text" name="county_name" id="county_name" class="form-control"
                                       style="width: 40vw" required>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <div class="submit_btn" style="padding-left: 28em">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <br>

    <div class="content-top-1 box box-info">
        <div class="box-body">
            {#            <br>#}

            <h2>Available Regions</h2>
            <br>
            <table class="ui celled table" width="100%" id="regionsTable" style="margin-right: 10px;">
                <thead>
                <tr>
                    <th></th>
                    <th>County Name</th>
                </tr>
                </thead>

            </table>
        </div>
    </div>

    <script>
        $(document).ready(function (string) {

            let table = $('#regionsTable').DataTable({
                destroy: true,
                responsive: false,
                "ajax": {
                    url: '/set-counties-json/',
                    type: 'get'
                },
                "order": [[1, 'asc']],
                select: {
                    style: 'single',
                    selector: 'tr'
                },
                {#having a checkbox#}
                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0
                }],
                scrollY: "800px",
                scrollX: true,
                scrollCollapse: true,
                paging: true,
                fixedColumns: true,
                lengthChange: true,
                "rowCallback": function (nRow, aData) {
                    $('td', nRow).eq(0).html('')
                    {#$('td', nRow).eq(3).html(aData[3] + ' %')#}
                }
            });

            let buttons = new $.fn.dataTable.Buttons(table, {
                buttons: ['csvHtml5', 'excelHtml5', 'pdfHtml5', 'colvis']
            });

            buttons.container().appendTo($('div.right.aligned.eight.column:eq(0)', table.table().container()));
        });
    </script>
{% endblock %}