{% extends 'alan_code.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Onboarding</title>
    {#    <link rel="stylesheet" href="{{ url_for('static', filename='/css/materialize.min.css') }}">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/admin_user_onboarding.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/m_icons.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='/js/jquery-3.6.1.min.js') }}"></script>
    <link rel="manifest" href="../static/js/manifest.json">
    <!--IOS support-->
    <link rel="apple-touch-icon" href="../static/images/pngwing.com.png">
    <meta name="apple-web-app-status-bar" content="#00b0ff">
</head>
<body>
{% block dashboard %}
    <section class="content-header" style="width: 93%; margin-left: 5.6%; padding-left: 0; ">
        <h2>User Onboarding</h2>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('alan_code') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">User Onboarding</li>
        </ol>
    </section>
{% endblock %}
{% block content %}
    <form action="{{ url_for('admin_onboarding_users') }}" method="post">
        <div class="row">
            {% include 'includes/_flashmsg.html' %}
        </div>
        {#        <div class="details_container">#}
        <div class="details_containers"
             style="border: 1px solid black; padding: 1em; width: 50vw; margin: 5em auto 1em;">
            <div class="row" style="display: flex; justify-content: center; text-decoration: underline">
                <h3 style="text-align: center;">User Registration Form</h3>
            </div>
            <div class="row">
                {#        first name#}

                <div class="col-md-6">
                    <label for="f_name" class="visually-hidden"></label>
                    <div class="input-group">
                        <div class="input-group-addon">First Name:</div>
                        <input type="text" name="f_name" id="f_name" class="form-control col-md-4" required>
                    </div>
                </div>
                {#                last name#}
                <div class="col-md-6">
                    <label for="l_name" class="visually-hidden"></label>
                    <div class="input-group">
                        <div class="input-group-addon">Last Name:</div>
                        <input type="text" name="l_name" id="l_name" class="form-control" required>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                {#            gender#}
                <div class="col-md-12">
                    <select name="gender" id="gender" class="form-control" required>
                        <option value="" disabled selected>Choose Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <label for="gender" class="visually-hidden" hidden>Gender:</label>
                </div>
            </div>
            {#        date of birth#}
            <div class="row">
                <div class="col-md-4">
                    <label for="dob"></label>
                    <div class="input-group">
                        <div class="input-group-addon" {#style="width: 10em;"#}>Date of Birth:</div>
                        <input type="date" name="dob" id="dob" class="form-control" required>
                    </div>
                </div>
            </div>

            {#    Phone number#}
            <div class="row">
                <div class="">
                    <div class="col-md-12">
                        <label for="phone_no"></label>
                        <div class="input-group">
                            <div class="input-group-addon" {#style="width: 10em;"#}>Phone Number:</div>
                            <input type="number" name="phone_no" id="phone_no" class="form-control" required>
                        </div>
                    </div>
                </div>
            </div>

            {#    ID number#}
            <div class="row">
                <div class="input-field col s12">
                    <div class="col-md-12">
                        <label for="id_no"></label>
                        <div class="input-group">
                            <div class="input-group-addon" {#style="width: 10em;"#}>ID Number:</div>
                            <input type="number" name="id_no" id="id_no" class="form-control" required>
                        </div>
                    </div>
                </div>
            </div>

            {#    Email address#}
            <div class="row">
                <div class="input-field col s12">
                    <div class="col-md-12">
                        <label for="email"></label>
                        <div class="input-group">
                            <div class="input-group-addon" {#style="width: 10em;"#}>Email:</div>
                            <input type="email" name="email" id="email" class="form-control" required>
                        </div>
                    </div>
                </div>
            </div>

            {#    Password#}
            <div class="row">
                <div class="input-field col s12">
                    <div class="col-md-12">
                        <label for="password"></label>
                        <div class="input-group">
                            <div class="input-group-addon" {#style="width: 10em;"#}>Password:</div>
                            <input type="password" name="password" id="password" class="form-control" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="" style="display: flex; justify-content: center;">
                <button type="submit" class="btn btn-outline-success"
                        style="outline: 1px solid green; display: flex; justify-content: center; align-items: center; margin-top: 1em;">
                    Submit
                    {#                    <i class="material-icons right">send</i>#}
                </button>
            </div>
        </div>
    </form>

    <script type="text/javascript" src="{{ url_for('static', filename='/js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}
</body>
</html>