<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create User</title>
</head>
<body>
{% extends 'alan_code.html' %}

{% block dashboard %}
    <section class="content-header" style="width: 93%; margin-left: 5.6%; padding-left: 0; ">
        <h2>Create Account</h2>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('alan_code') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Create Account</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <br>
    <div class="content-top-1 box box-success">
        <div class="box-body">
            <br>
            <div class="flash" style="text-align: center">
                {% include 'includes/flashmsg_bootstrap.html' %}
            </div>
            <form action="" method="post">
                {#    first name#}
                <div class="form-group row">
                    <label for="f_name" class="col-sm-1 col-form-label">First Name:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="f_name" name="f_name" required>
                    </div>
                </div>

                {#        last name#}
                <div class="form-group row">
                    <label for="l_name" class="col-sm-1 col-form-label">Last Name:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="l_name" name="l_name" required>
                    </div>
                </div>

                {#    residence#}
                <div class="form-group row">
                    <label for="residence" class="col-sm-1 col-form-label">Residence:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="residence" name="residence" required>
                    </div>
                </div>
                {#    phone no#}
                <div class="form-group row">
                    <label for="phone_no" class="col-sm-1 col-form-label">Phone Number:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="phone_no" name="phone_no" required>
                    </div>
                </div>

                {#                account type#}
                <div class="form-group row">
                    <label for="account_type" class="col-sm-1 col-form-label">Account Type:</label>
                    <div class="col-sm-5">
                        <select name="account_type" id="account_type" class="form-control" required>
                            <option value="" disabled selected>Please select an account type</option>
                            <option value="1">Admin</option>
                            <option value="0">User</option>
                        </select>
                        {#                                <label for="gender" class="visually-hidden" hidden>Gender:</label>#}
                    </div>
                </div>

                <div class="submit_button">
                    <button class="btn btn-success" type="submit" style="margin-left: 25%">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

</body>
</html>