<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="{{ url_for('mpesa_express') }}" method="post">
    {% include 'includes/flashmsg_bootstrap.html' %}
    <label for="phone">Phone:</label>
    <input type="number" name="phone" id="phone">
    <br>
    <br>
    <label for="amount">Amount:</label>
    <input type="number" name="amount" id="amount" min="0">
    <br>
    <button type="submit">Send</button>
</form>

<script>
    //stop auto submit on reload
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>
</body>
</html>