<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="" method="post">
    <label for="phone">Phone:</label>
    <input type="number" name="phone" id="phone">
    <br>
    <label for="amount">Amount:</label>
    <input type="number" name="amount" id="amount" min="0">
    <br>
    <button type="submit">Send</button>
</form>

</body>
</html>