<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/ukulima_partners.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/selected_partner.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/m_icons.css') }}">
    <link rel="manifest" href="../static/js/manifest.json">

    <script type="text/javascript" src="{{ url_for('static', filename='/js/jquery-3.6.1.min.js') }}"></script>

    <!--IOS support-->
    <link rel="apple-touch-icon" href="../static/images/pngwing.com.png">
    <meta name="apple-web-app-status-bar" content="#00b0ff">

    {#    bootstrap#}
    {#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">#}
</head>
<body>
{#navbar#}
<nav class="nav-wrapper green lighten-2 {#hide-on-med-and-down#} hide-on-med-and-down">
    <a href="#" class="sidenav-trigger" data-target="mobile_links">
        <i class="material-icons">menu</i>
    </a>
    <a href="{{ url_for('user_homepage') }}" class="brand-logo" style="padding-left: 0.5em">Habahaba Ukulima</a>
    <ul class="right hide-on-med-and-down">
        <li><a href="{{ url_for('ukulima') }}">Ukulima Wallet</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="{{ url_for('user_logout') }}">Logout</a></li>
    </ul>
</nav>
{#<a href="#" class="sidenav-trigger btn transparent hide-on-med-and-up" data-target="mobile_links">#}
{#    <i class="material-icons">menu</i>#}
{#</a>#}
<ul class="sidenav" id="mobile_links">
    <div class="nav_container"
         style="height: 100vw; display: flex; flex-direction: column; justify-content: space-between">
        <ul class="top">
            <li><a href="{{ url_for('ukulima') }}">Ukulima Wallet</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <ul class="logout">
            <li><a href="{{ url_for('user_logout') }}">Logout</a></li>
        </ul>
    </div>
</ul>


<a href="{{ url_for('vendor_goods') }}"
   class="btn-floating waves-effect waves-light {#blue lighten-3#} hide-on-large-only"
   id="back_button" style="background-color: transparent;">
    <ion-icon name="arrow-back-outline" class="back_icon"></ion-icon>
</a>
<style>
    @media all and (min-width: 1000px) {
        .section2 {
            width: 70vw;
            display: block;
            margin: auto;
        }
    }
</style>

<div class="section2" style="margin-top: 3em">
    <form action="{{ url_for('selected_partner') }}" method="post">
        <h4 style="font-weight: 600">Material Calculator</h4>
        <div class="warning_heading" style="
width: 30vw;
margin: auto;
border: 2px solid red;
background-color: rgb(255 0 0 / 0.5);
text-align: center;
padding: 1em;
border-radius: 30px;
" hidden>
            Lowest size of land allowed is 0.5
        </div>
        <h5 style="font-weight: 600">Vendor: {{ vendor_details['org_name'] }}</h5>
        <h6 style="font-weight: 650">Item: {{ vendor_details['crop_name'] }}</h6>
        <input type="number" name="quantity_per_acre" id="defaults" value="{{ vendor_details['quantity_per_acre'] }}"
               readonly hidden>
        <input type="number" name="price_per_kg" id="defaults" value="{{ vendor_details['price_per_kg'] }}" readonly
               hidden>
        <div class="details_container" style="margin-bottom: 40px; background-color: rgb(255 255 255 / 0.7)">
            <div class="quantity_needed">
                <b>Quantity Needed (in KGs):</b> <input type="number" name="quantity_per_acre" id="quantity_per_acre"
                                                        style="width: 8em; text-align: center"
                                                        value="{{ vendor_details['quantity_per_acre'] }}" readonly>
                {#            <span style="border-bottom: 1px solid grey; padding: 0.7em;">In KGs</span>#}
            </div>
            <div class="price_per_kilo">
                <b>Price Per KG:</b> <input type="number" name="price_per_kg" id="price_per_kg"
                                            style="width: 8em; text-align: center"
                                            value="{{ vendor_details['price_per_kg'] }}" readonly>
            </div>
            <div class="payment">
                <b>Payment Required:</b> <input type="number" name="payment_required" id="payment_required"
                                                style="width: 8em; text-align: center" readonly>
            </div>

            <div class="accept" style="display: flex; justify-content: center;">
                <button type="submit" class="btn waves-light waves-effect">Confirm</button>
            </div>
        </div>
        <div class="values" style="margin-top: 30px">
            <div class="save_until">
                <input type="number" name="commission" id="commission" value="{{ vendor_details.commission }}" readonly
                       hidden>
                <div class="input-field col">
                    <input type="date" name="save_until" id="save_until" required>
                    <label for="save_until">Save until:</label>
                </div>
            </div>
            {#            <input type="number" name="commission" id="commission" value="{{ vendor_details.commission }}">#}
            <div class="input-field col s6" id="land_size">
                <input type="number" name="size_of_land" id="size_of_land" min="0" required>
                <label for="size_of_land" style="display: flex; justify-content: center">Enter size of land in
                    acres</label>
            </div>
        </div>
        <div class="button" style="display: flex; justify-content: center;">
            <button type="button" class="btn btn-flat green lighten-2 waves-light" id="done_btn">Done</button>
        </div>

        {#        defaults#}
        <div class="black-text">
            <input type="text" name="vendor_id" id="defaults"
                   value="{{ vendor_details['vendor_id'] }}" readonly hidden>
            <input type="text" name="vendor_name" id="defaults"
                   value="{{ vendor_details['vendor_name'] }}" readonly hidden>
            <input type="text" name="vendor_email" id="defaults"
                   value="{{ vendor_details['vendor_email'] }}" readonly hidden>
            <input type="text" name="vendor_phone" id="defaults"
                   value="{{ vendor_details['phone_no'] }}" readonly hidden>
            <input type="text" name="crop_name" id="defaults"
                   value="{{ vendor_details['crop_name'] }}" readonly hidden>
            <input type="text" name="location" id="defaults"
                   value="{{ vendor_details['location'] }}" readonly hidden>
            <input type="text" name="payment_method" id="defaults"
                   value="{{ vendor_details['payment_method'] }}" readonly hidden>
            <input type="text" name="acc_number" id="defaults"
                   value="{{ vendor_details['acc_number'] }}" readonly hidden>
            <input type="text" name="vendor_org" id="defaults"
                   value="{{ vendor_details['org_name'] }}" readonly hidden>


            <input type="text" name="client_id" id="defaults"
                   value="{{ session['user_id'] }}" readonly hidden>
            <input type="text" name="client_name" id="defaults"
                   value="{{ session['f_name'] }} {{ session['l_name'] }}" readonly hidden>
            <input type="text" name="client_phone" id="defaults"
                   value="{{ session['phone_no'] }}" readonly hidden>
            <input type="text" name="client_id_no" id="defaults" value="{{ session['id_no'] }}"
                   readonly hidden>
            <input type="text" name="client_email" id="defaults"
                   value="{{ session['email'] }}" readonly hidden>
            <label for="defaults"></label>
        </div>
    </form>
</div>

{#[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[JAVASCRIPT]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]#}
{#ionicons#}
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/js/materialize.min.js') }}"></script>
{#link to app.js for service worker#}
<script src="../static/js/app.js"></script>
<script>
    //stop auto submit on reload
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
    //sidenav
    $(document).ready(function () {
        $('.sidenav').sidenav();
        $('.warning_heading').hide()

        let quantity_per_acre = $('#quantity_per_acre').val()
        let price_per_kg = $('#price_per_kg').val()
        let size_of_land = $('#size_of_land').val()
        let commission = $('#commission').val() / 100
        let price = quantity_per_acre * price_per_kg
        //material calculator
        $('#size_of_land').on('input', function () {
            $('#payment_required').val(
                (($('#quantity_per_acre').val() * $('#size_of_land').val()) * $('#price_per_kg').val())
            )

            if ($('#size_of_land').val() >= 0.5) {
                $('#done_btn').click(function () {
                    $('.details_container').show(300);
                    $('.warning_heading').hide(300)
                });
            } else if ($('#size_of_land').val() < 0.5) {
                {#$('#done_btn').style.background = 'red !important';#}
                $('#done_btn').hide(300)
                $('.details_container').hide(300);
                $('.warning_heading').show(300)
            }
        });

        //Dropdown
        $('select').formSelect()

        //collapsible
        $('.collapsible').collapsible()


        //collapsible
        document.addEventListener('DOMContentLoaded', function () {
            let elems = document.querySelectorAll('.collapsible');
            let instances = M.Collapsible.init(elems, {
                inDuration: 300
            });
        });

        //Details Container
        $('.details_container').hide()

        //done button
        $('#done_btn').hide();

        $('#land_size').hide()
        //save until
        $('#save_until').on('input', function () {
            $('#land_size').show(300)
        });
        $('#size_of_land').on('input', function () {
            if ($('#size_of_land').val() > 0) {
                $('#done_btn').show(300)
            }
        });

    });
</script>
</body>
</html>