<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#008300FF">
    <title>Redemption</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/ukulima_redemption.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/m_icons.css') }}">
    <link rel="manifest" href="../static/js/manifest.json">

    <script type="text/javascript" src="{{ url_for('static', filename='/js/jquery-3.6.1.min.js') }}"></script>
    <!--IOS support-->
    <link rel="apple-touch-icon" href="../static/images/pngwing.com.png">
    <meta name="apple-web-app-status-bar" content="#00b0ff">
    {#    font-awesome#}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {#    datatables#}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/jquery.dataTables.min.css') }}">
</head>
<body>
{#navbar#}
<nav class="nav-wrapper green lighten-2 hide-on-med-and-down hide-on-small-and-down">
    <a href="#" class="sidenav-trigger" data-target="mobile_links">
        <i class="material-icons">menu</i>
    </a>
    <a href="{{ url_for('ukulima') }}" class="brand-logo">Habahaba Ukulima</a>
    <ul class="right hide-on-med-and-down">
        <li><a href="{{ url_for('ukulima') }}">Ukulima wallet</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="{{ url_for('user_logout') }}">Logout</a></li>
    </ul>
</nav>

<ul class="sidenav" id="mobile_links">
    <div class="nav_container"
         style="height: 100vw; display: flex; flex-direction: column; justify-content: space-between">
        <ul class="top">
            <li><a href="{{ url_for('ukulima') }}">Ukulima wallet</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <ul class="logout">
            <li><a href="{{ url_for('user_logout') }}">Logout</a></li>
        </ul>
    </div>
</ul>
<a href="{{ url_for('ukulima') }}" class="btn-floating waves-effect waves-light {#blue lighten-3#} hide-on-large-only"
   id="back_button" style="background-color: transparent;">
    <ion-icon name="arrow-back-outline" class="back_icon"></ion-icon>
</a>


<div class="section1">
    <div class="main_icon">
        <i class="fa fa-handshake-o"></i>
    </div>
    <div class="underline">

    </div>
    <div class="heading_content">
        <h2>Redeemable Items</h2>
    </div>
</div>

<div class="section2">
    <div class="flash">
        {% include 'includes/_flashmsg.html' %}
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="tabs" id="tabs-swipe-demo" style="border-radius: 45px 45px 0 0 ">
                <li class="tab col s6"><a href="#test-swipe-1">Redeemable Items</a></li>
                <li class="tab col s6"><a href="#test-swipe-2">Redemption History</a></li>
            </ul>

            <div class="col s12 white black-text redeemItemContainer" id="test-swipe-1" style="padding: 2em;">

                <div class="redeemItem" style="padding-left: 2%; padding-right: 2%;">
                    <label for="redeemable_item">Redeemable Item:</label>
                    <select name="redeemable_item" id="redeemable_item">
                        <option value="" selected disabled>Please choose an item to redeem</option>
                        {% for item in items %}
                            <option value="{{ item.crop_name }}">{{ item.crop_name }}</option>
                        {% endfor %}
                    </select>
                    <div class="redeemable_content" hidden="hidden">
                        <h6 class="org_name"></h6>
                        <h6 class="redeemable_amount"></h6>
                        <h6 class="payment_for"></h6>
                        <h6 class="saving_target"></h6>
                        <h6 class="quantity_redeemed"></h6>
                        <h6 class="amount_redeemed"></h6>
                        <h6 class="payment_for"></h6>

                        <form action="{{ url_for('redemption') }}" method="post">
                            <input type="number" name="client_id" id="client_id" readonly hidden="hidden">
                            {#                            <input type="text" name="client_name" id="client_name" readonly hidden=hidden" >#}
                            {#                            <input type="text" name="client_phone" id="client_phone" readonly hidden=hidden" >#}
                            <input type="number" name="vendor_id" id="vendor_id" readonly hidden="hidden">
                            <input type="text" name="vendor_org" id="vendor_org" readonly hidden="hidden">
                            {#                            <input type="number" name="quantity_redeemed" id="quantity_redeemed" readonly hidden=hidden"#}
                            {#                            >#}
                            <input type="number" name="quantity_per_acre" id="quantity_per_acre" readonly
                                   hidden="hidden"
                            >
                            {#                <label for="redeemable_amount"></label>#}
                            {#                <input type="number" name="redeemable_amount" id="redeemable_amount" readonly hidden=hidden" >#}
                            {#                <label for="amount_redeemed"></label>#}
                            {#                <input type="number" name="amount_redeemed" id="amount_redeemed" readonly hidden=hidden" >#}
                            {#                <label for="quantity_redeemed"></label>#}
                            {#                <input type="number" name="quantity_redeemed" id="quantity_redeemed" readonly hidden=hidden" >#}
                            <input type="text" name="item_redeemed" id="item_redeemed" readonly hidden="hidden">
                            <input type="number" name="redeemable_quantity" id="redeemable_quantity" readonly
                                   hidden="hidden"
                            >
                            <input type="number" name="saving_target" id="saving_target" readonly hidden="hidden">
                            <input type="number" name="amount_redeemed" id="amount_redeemed" readonly hidden="hidden">
                            <input type="number" name="quantity_redeemed" id="quantity_redeemed" readonly
                                   hidden="hidden">
                            <input type="number" name="transaction_id" id="transaction_id" readonly hidden="hidden">
                            <input type="number" name="price_per_kg" id="price_per_kg" readonly hidden="hidden">
                            <input type="number" name="material_id" id="material_id" readonly hidden="hidden">
                            {#                <input type="number" name="client_id" id="client_id" readonly hidden=hidden">#}
                            <div class="input-field">
                                <label for="quantity_to_redeem">Enter the quantity you wish to redeem (in KGs /
                                    L):</label>
                                <input type="number" name="quantity_to_redeem" id="quantity_to_redeem" class="validate"
                                       min="0"
                                       required>
                            </div>
                            <div class="submitBtn" style="display: flex; justify-content: center; padding-top: 1em">
                                <button type="submit" class="btn waves-effect waves-light">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col s12 white black-text" id="test-swipe-2"
                 style="padding: 5em; border: 0;">
                <table class="ui celled table col s12 striped" width="100%" id="redemptionHistory">
                    <thead>
                    <tr>
                        <th>Organization</th>
                        <th>Item Bought</th>
                        <th>Quantity Redeemed</th>
                        <th>Date Redeemed</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>


</div>
<div class="section3">

</div>
{#[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[JAVASCRIPT]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]#}
{#ionicons#}
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/js/materialize.min.js') }}"></script>
{#link to app.js for service worker#}
<script src="../static/js/app.js"></script>

{#        datatables#}
<script>
    //stop auto submit on reload
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
    //sidenav
    $(document).ready(function () {
        $('#redeemable_item').change(function (x) {
            $('.redeemable_content').show(300)
            $.ajax({
                url: '/redeemable-items-json/',
                type: 'get',
                success: function (data) {
                    data = JSON.parse(data)
                    {#console.log(data)#}

                    let transaction_id = ``
                    let org_name = ``
                    let payment_for = ``
                    let saving_target = ``
                    let sender_id = ``
                    let vendor_id = ``
                    let quantity_per_acre = ``
                    let price_per_kg = ``
                    let amount_saved_daily = ``

                    let redeemable_quantity = ``
                    let quantity_redeemed = ``
                    let material_id = ``
                    let amount_redeemed = ``

                    data.map(
                        item => {
                            if ($('#redeemable_item').val() === item.crop_name) {
                                console.log(item)
                                transaction_id = item.transaction_id
                                org_name = item.org_name
                                payment_for = item.payment_for
                                saving_target = item.saving_target
                                sender_id = item.sender_id
                                vendor_id = item.vendor_id
                                quantity_per_acre = item.quantity_per_acre
                                price_per_kg = item.price_per_kg
                                amount_saved_daily = item.amount_saved_daily

                                redeemable_quantity = (saving_target / price_per_kg) - item.amount_redeemed
                                quantity_redeemed = item.quantity_redeemed
                                material_id = item.material_id
                                amount_redeemed = item.amount_redeemed
                                {#console.log(redeemable_quantity)#}
                                {#console.log(amount_redeemed)#}
                            }
                        }
                    );
                    $('.org_name').html(`<b>Organization:</b> ${org_name}`);
                    {#$('.redeemable_amount').html(`<b>Redeemable Quantity:</b> ${redeemable_quantity} KGs / L`);#}
                    {#$('.quantity_redeemed').html(`<b>Quantity Redeemed:</b> ${quantity_redeemed} KGs / L`);#}

                    $('#client_id').val(sender_id);
                    $('#vendor_id').val(vendor_id);
                    $('#vendor_org').val(org_name);
                    $('#quantity_per_acre').val(quantity_per_acre);
                    $('#redeemable_quantity').val(redeemable_quantity);
                    $('#transaction_id').val(transaction_id);
                    $('#item_redeemed').val($('#redeemable_item').val());
                    $('#material_id').val(material_id);
                    $('#price_per_kg').val(price_per_kg);
                    {#$('#amount_redeemed').val(amount_redeemed);#}
                    {#$('#quantity_redeemed').val(quantity_redeemed);#}
                    $('#saving_target').val(saving_target);


                }
            });

            $.ajax({
                url: '/redeemable-quantities-json/',
                type: 'get',
                success: function (data) {
                    data = JSON.parse(data)
                    let amount_redeemed = ''
                    let quantity_redeemed = ''
                    let saving_target = ''
                    data.map(
                        item => {
                            console.log(item)
                            if ($('#redeemable_item').val() === item.crop_name) {
                                console.log(item)

                                amount_redeemed = item.amount_redeemed
                                quantity_redeemed = item.quantity_redeemed
                            }
                        }
                    )
                    saving_target = (Math.floor($('#saving_target').val() / $('#price_per_kg').val())).toFixed(2)
                    $('.quantity_redeemed').html(`<b>Quantity Redeemed:</b> ${(quantity_redeemed).toFixed(2)} KGs / L`);
                    $('.redeemable_amount').html(`<b>Redeemable Quantity:</b> ${(saving_target - quantity_redeemed).toFixed(2)} KGs / L`);

                    $('#amount_redeemed').val(amount_redeemed);
                    $('#quantity_redeemed').val(quantity_redeemed);
                }
            });

        });

        // redemption history
        $('#redemptionHistory').DataTable({
            destroy: true,
            responsive: true,
            "ajax": {
                url: '/redemption-history-json/',
                type: 'get'
            },
            "order": [[0, 'asc']],
            {#select: {#}
            {#    style: 'single',#}
            {#    selector: 'tr'#}
            // },
            {#having a checkbox#}
            columnDefs: [{
                orderable: false,
                className: 'select-checkbox',
                targets: 3
            }],
            scrollY: "800px",
            scrollX: true,
            scrollCollapse: true,
            paging: true,
            fixedColumns: true,
            lengthChange: true,
            {#"rowCallback": function (nRow, aData) {#}
            {#$('td', nRow).eq(0).html('')#}
            {#$('td', nRow).eq(3).html(aData[3] + ' %')#}
            // }
        });

        //sidenav
        $('.sidenav').sidenav();


        //datatables
        $('#itemsTable').DataTable();


        //Dropdown
        $('select').formSelect()


        //tabs
        $('.tabs').tabs();

        //modal
        $('.modal').modal();

    })
    ;


    //collapsible
    document.addEventListener('DOMContentLoaded', function () {
        let elems = document.querySelectorAll('.collapsible');
        let instances = M.Collapsible.init(elems, {
            inDuration: 300
        });
    });

</script>
</body>
</html>