<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color">
    <title>Offers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/ukulima_offers.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/m_icons.css') }}">
    <link rel="manifest" href="../static/js/manifest.json">
    <meta name="theme-color" content="#008300FF">

    <script type="text/javascript" src="{{ url_for('static', filename='/js/jquery-3.6.1.min.js') }}"></script>

    <!--IOS support-->
    <link rel="apple-touch-icon" href="../static/images/pngwing.com.png">
    <meta name="apple-web-app-status-bar" content="#00b0ff">
</head>
<body>
<style>
    @media all and (max-width: 400px) {
        .section2 {
            padding: 1em;
            width: 90%;
        }

        .offers_container {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 0;
        }

        .offers_card {
            border: none;
            box-shadow: 0 0 20px -5px black;
            width: 90vw !important;
        }

        .offer_org, .offer_name {
            font-family: "MV Boli", sans-serif;
            font-size: 20px;
        }

        .offers_header {
            display: flex;
            align-items: center;
        }

    }

</style>
{#navbar#}
<nav class="nav-wrapper green lighten-2 hide-on-med-and-down hide-on-small-and-down">
    <a href="#" class="sidenav-trigger" data-target="mobile_links">
        <i class="material-icons">menu</i>
    </a>
    <a href="{{ url_for('ukulima') }}" class="brand-logo">Habahaba Ukulima</a>
    <ul class="right hide-on-med-and-down">
        <li><a href="{{ url_for('ukulima') }}">Ukulima wallet</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="{{ url_for('user_logout') }}">Logout</a></li>
    </ul>
</nav>
{#<a href="#" class="sidenav-trigger btn transparent hide-on-med-and-up" data-target="mobile_links">#}
{#    <i class="material-icons">menu</i>#}
{#</a>#}
<ul class="sidenav" id="mobile_links">
    <div class="nav_container"
         style="height: 100vw; display: flex; flex-direction: column; justify-content: space-between">
        <ul class="top">
            <li><a href="{{ url_for('ukulima') }}">Ukulima wallet</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <ul class="logout">
            <li><a href="{{ url_for('user_logout') }}">Logout</a></li>
        </ul>
    </div>
</ul>
<a href="{{ url_for('ukulima') }}" class="btn-floating waves-effect waves-light {#blue lighten-3#} hide-on-large-only"
   id="back_button" style="background-color: transparent;">
    <ion-icon name="arrow-back-outline" class="back_icon"></ion-icon>
</a>
<div class="row">
    <h3 style="text-align: center">Offers</h3>
    <div class="row" style="display: flex; justify-content: center;">
        <ion-icon name="pricetags-outline" id="offers_icon"></ion-icon>
    </div>
    <div class="row" style="text-align: center">
        <p style="font-size: 20px"><b><i>{{ total_rows.0['count(*)'] }}</i></b> offers available</p>
    </div>
</div>
{#<div class="section1 black-text">#}


<div class="section2 black-text">
    {% for offers in available_offers %}
        {% if offers|count > 1 %}
            {#            {% if offers['offer_status'] == 'accepted' %}#}
            <div class="offers_container">
                <div class="offers_card">
                    <div class="offers_content">
                        <div class="offers_header offer_details">
                            <ion-icon name="bag-check-outline" class="offers_icon" style="font-size: 25px"></ion-icon>
                            <h3 class="offer_org">{{ offers.org_name }}</h3>
                        </div>
                        <div class="offer_details offer_details">
                            <ion-icon name="pricetag-outline" style="font-size: 25px"></ion-icon>
                            <h5 class="offer_name">{{ offers.offer_name }} at <b>{{ offers.percentage_off }}%</b> off
                            </h5>
                        </div>
                        <div class="view_btn">
                            <form action="{{ url_for('ukulima_offers_redirect') }}" method="post">
                                <label for="defaults"></label>
                                <input type="number" name="offer_id" id="defaults" value="{{ offers.offer_id }}"
                                       readonly hidden="hidden">
                                <input type="number" name="user_id" id="defaults" value="{{ session['user_id'] }}"
                                       readonly hidden="hidden">
                                <button class="btn waves-effect waves-light" type="submit">View Deal</button>
                            </form>
                        </div>
                        <br>
                        <div class="offer_date">
                            <ion-icon name="calendar-outline" style="font-size: 25px"></ion-icon>
                            &nbsp
                            <h6>Valid until: <b>{{ offers.valid_until }}</b></h6>
                        </div>
                    </div>
                </div>
            </div>
            {#            {% endif %}#}
        {% else %}

            <h4>No offers available</h4>
        {% endif %}
    {% endfor %}
</div>

{#[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[JAVASCRIPT]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]#}
{#ionicons#}
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/js/materialize.min.js') }}"></script>
{#link to app.js for service worker#}
<script src="../static/js/app.js"></script>
<script>
    //stop auto submit on reload
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
    //sidenav
    $(document).ready(function () {
        $('.sidenav').sidenav();
    });

    //Dropdown
    $(document).ready(function () {
        $('select').formSelect()
    });

    //collapsible
    document.addEventListener('DOMContentLoaded', function () {
        let elems = document.querySelectorAll('.collapsible');
        let instances = M.Collapsible.init(elems, {
            inDuration: 300
        });
    });
</script>

</body>
</html>