<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Funds</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/ukulima_funds.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/m_icons.css') }}">
    <link rel="manifest" href="../static/js/manifest.json">

    <script type="text/javascript" src="{{ url_for('static', filename='/js/jquery-3.6.1.min.js') }}"></script>

    <!--IOS support-->
    <link rel="apple-touch-icon" href="../static/images/pngwing.com.png">
    <meta name="apple-web-app-status-bar" content="#00b0ff">
</head>
<body>

<style>
    .progress_bar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 500ms ease-in-out;
        row-gap: 30px;
        width: 500px;
        padding: 50px 0;
        /*background-color: #0d6efd;*/
        border-radius: 8px;
    }

    .circular_progress {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;
        width: 250px;
        border-radius: 50%;
        background: conic-gradient(#0d6efd 3.6deg, white 0deg);
        box-shadow: 0 0 10px -1px black;
    }

    .circular_progress::before {
        position: absolute;
        content: '';
        height: 210px;
        width: 210px;
        border-radius: 50%;
        background: white;
        box-shadow: inset 0 0 5px -1px rgb(0 0 0 / 0.5);
    }

    .progress_value {
        font-family: "MV Boli", sans-serif;
        position: relative;
        font-size: 30px;
        font-weight: 500;
    }

    {#[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[SECTION3 MEDIA QUERIES]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]#}
    @media all and (min-width: 1000px) {
        .section3 {
            display: block;
            width: 80vw;
            padding: 2em 3em;
            border-radius: 20px 20px 0 0;
            margin: auto auto 2em;
        }
    }

    @media all and (min-width: 600px) {
        .section3 {
            display: block;
            width: 80vw;
            padding: 1em 2em;
            margin: auto auto 2em;
        }
    }

    @media all and (min-width: 400px) {
        .section3 {
            display: block;
            width: 90vw;
            padding: 1em 2em;
            margin: auto auto 2em;
        }
    }

    @media all and (min-width: 200px) {
        .section3 {
            padding: 1em;
        }
    }

</style>
{#navbar#}
<nav class="nav-wrapper green lighten-2 hide-on-med-and-down hide-on-small-and-down">
    <a href="#" class="sidenav-trigger" data-target="mobile_links">
        <i class="material-icons">menu</i>
    </a>
    <a href="{{ url_for('ukulima') }}" class="brand-logo">Habahaba Ukulima</a>
    <ul class="right hide-on-med-and-down">
        <li><a href="{{ url_for('ukulima') }}">Ukulima wallet</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="{{ url_for('user_logout') }}">Logout</a></li>
    </ul>
</nav>

<ul class="sidenav" id="mobile_links">
    <div class="nav_container"
         style="height: 100vw; display: flex; flex-direction: column; justify-content: space-between">
        <ul class="top">
            <li><a href="{{ url_for('ukulima') }}">Ukulima wallet</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <ul class="logout">
            <li><a href="{{ url_for('user_logout') }}">Logout</a></li>
        </ul>
    </div>
</ul>
<a href="{{ url_for('ukulima') }}" class="btn-floating waves-effect waves-light {#blue lighten-3#} hide-on-large-only"
   id="back_button" style="background-color: transparent;">
    <ion-icon name="arrow-back-outline" class="back_icon"></ion-icon>
</a>

<div class="section1">
    {#    <h2 style="text-align: center">Funds</h2>#}
    <h2 style="text-align: center">Deposit</h2>
    <div class="row" id="icon_container">
        <ion-icon name="card-outline" class="target_icon"></ion-icon>
    </div>
    {#    <div class="fund_buttons">#}
    {#        modal triggers#}
    {#                <button class="add_funds btn">Add Funds</button>#}
    {#        <button class="redeem_voucher btn">Redeem Item</button>#}
    {#    </div>#}
</div>
<br>
{% block content %}

    <div class="row">
        {% include 'includes/_flashmsg.html' %}
    </div>
    {#    <ul class="tabs" id="tabs-swipe-demo">#}
    {#        <li><a href="#test-swipe-1">Slide 1</a></li>#}
    {#        <li><a href="#test-swipe-2">Slide 2</a></li>#}
    {#    </ul>#}

    <div class="section3 white black-text" style="height: auto">
        <label for="item"></label>
        <select name="item" id="item">
            <option value="" selected disabled>Please select an item to pay for</option>
            {% for client_crop in client_crops %}
                <option value="{{ client_crop.payment_for }}">{{ client_crop.payment_for }}</option>
            {% endfor %}
        </select>
        <div class="trialSelect">

        </div>

        <form action="" method="post" hidden id="paymentForm" style="text-align: center;">
            {#            PROGRESS BAR BELOW#}
            <div class="center_progress_bar" style="display: flex; justify-content: center">
                <div class="progress_bar">
                    <div class="progress_header" style="display: flex; justify-content: center">
                        <h5>Payment Progress</h5>
                    </div>
                    <div class="circular_progress">
                        <span class="progress_value">0%</span>
                    </div>
                    <span class="texts" id="texts"><b id="x"></b> out of <b id="y"></b></span>
                </div>
            </div>
            {#            PROGRESS BAR ABOVE #}

            {#            FORM VALUES#}
            <div class="inputs" style="display: none;">
                <input type="number" name="vendor_id" id="vendor_id" readonly hidden="hidden">
                <input type="text" name="vendor_name" id="vendor_name" readonly hidden="hidden">
                {#            <input type="text" name="vendor_email" id="vendor_email" readonly hidden="hidden" ">#}
                <input type="text" name="vendor_phone" id="vendor_phone" readonly hidden="hidden">
                <input type="text" name="vendor_org" id="vendor_org" readonly hidden="hidden">
                {#            <input type="text" name="payment_method" id="payment_method" readonly hidden="hidden" ">#}
                {#            <input type="text" name="acc_number" id="acc_number" readonly hidden="hidden" ">#}
                <input type="text" name="vendor_crop" id="vendor_crop" readonly hidden="hidden">
                {#            <input type="text" name="payment_for" id="payment_for" readonly hidden="hidden" ">#}
                <input type="number" name="saving_target" id="saving_target" readonly hidden="hidden">
                <input type="number" name="client_id" id="client_id" readonly hidden="hidden">
                <input type="text" name="client_name" id="client_name" readonly hidden="hidden">
                {#            <input type="text" name="client_email" id="client_email" readonly hidden="hidden" ">#}
                <input type="text" name="client_phone" id="client_phone" readonly hidden="hidden">
                <input type="number" name="amount_sent" id="amount_sent" readonly hidden="hidden">
                <input type="number" name="commission" id="commission" readonly hidden="hidden">
                <input type="text" name="selected_crop" id="selected_crop" readonly hidden="hidden">

            </div>
            <h3 id="orgName"></h3>
            <h3 id="amountBalance"></h3>
            <label for="paymentId"></label>
            <input type="number" name="payment_id" id="paymentId" class="pay" readonly hidden="hidden">
            <input type="text" name="category" id="category" readonly hidden="hidden">

            <div class="input-field col s12 white-text">

                <label for="payment">Payment Amount</label>
                <input type="number" name="payment" id="payment" class="required" min="0" required>
            </div>
            <div class="submitBtn" style="display: flex; justify-content: center">
                <button class="btn waves-effect waves-light" type="submit">Pay</button>
            </div>
        </form>
    </div>
{% endblock %}

{#[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[JAVASCRIPT]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]#}
{#ionicons#}
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/js/materialize.min.js') }}"></script>
{#link to app.js for service worker#}
<script src="../static/js/app.js"></script>
<script>
    //stop auto submit on reload
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
    //sidenav
    $(document).ready(function () {
        //sidenav
        $('.sidenav').sidenav();

        //Modal
        $('.modal').modal();

        //Dropdown
        $('select').formSelect();

        //tabs
        $('.tabs').tabs();

        $('#item').change(function () {
            $.ajax({
                url: '/ukulima-funds-json/',
                type: 'post',
                success: function (data) {
                    data = JSON.parse(data)
                    {#console.log(data)#}
                    let partners = `<h3> </h3>`
                    let payment_id = ``
                    let org_names = `<h3></h3>`
                    let amount_balances = `<h3></h3>`
                    let xValue = ``
                    let yValue = ``
                    {#let target = ((item.amount_sent) / (item.saving_target)) * 100#}
                    let vendor_id = ``
                    let vendor_name = ``
                    let vendor_phone = ``
                    let vendor_org = ``
                    let vendor_crop = ``
                    let categories = ``
                    let client_id = ``
                    let client_name = ``
                    let client_phone = ``
                    let amount_sent = ``
                    let savingTarget = ``
                    let commission = ``

                    data.map(
                        item => {
                            console.log(item)
                            {#let target = ((item.amount_sent) / (item.saving_target)) * 100#}
                            {#vendor_id = `${item.vendor_id}`#}
                            {#vendor_name = `${item.vendor_name}`#}
                            {#let vendor_email = ``#}
                            {#vendor_phone = `${item.vendor_phone}`#}
                            {#vendor_org = `${item.org_name}`#}
                            {#let payment_method = ``#}
                            {#let acc_no = ``#}
                            {#vendor_crop = `${item.payment_for}`#}
                            {#categories = `${item.category}`#}
                            {#client_id = `${item.sender_id}`#}
                            {#client_name = `${item.sender_name}`#}
                            {#commission = `${item.commission}`#}
                            {#client_phone = `${item.sender_phone}`#}
                            {#amount_sent = `${item.amount_sent}`#}
                            {#payment_id = `${item.payment_id}`#}
                            {#let amount_sent = ``#}
                            {#console.log(item)#}

                            if ($('#item').val() === item.payment_for) {
                                let target = ((item.amount_sent) / (item.saving_target)) * 100
                                vendor_id = `${item.vendor_id}`
                                vendor_name = `${item.vendor_name}`
                                {#let vendor_email = ``#}
                                vendor_phone = `${item.vendor_phone}`
                                vendor_org = `${item.org_name}`
                                {#let payment_method = ``#}
                                {#let acc_no = ``#}
                                vendor_crop = `${item.payment_for}`
                                categories = `${item.category}`
                                client_id = `${item.sender_id}`
                                client_name = `${item.sender_name}`
                                commission = `${item.commission}`
                                client_phone = `${item.sender_phone}`
                                amount_sent = `${item.amount_sent}`
                                {#payment_id = `${item.payment_id}`#}
                                {#let amount_sent = ``#}

                                let saving_target = `${item.saving_target}`
                                let amount_paid = `${item.amount_sent}`
                                org_names += `
                                <h6><b>Organisation: ${item.org_name}</b></h6>
                            `
                                amount_balances += `
                                <h6><b>Balance: Ksh ${item.saving_target - item.amount_sent}</b> </h6>
                               `
                                amount_sent = `${item.amount_sent}`
                                payment_id += `${item.payment_id}`

                                {# PROGRESS BAR#}
                                let circular_progress = document.querySelector('.circular_progress'),
                                    progress_value = document.querySelector('.progress_value')

                                let values = ((item.amount_sent) / (item.saving_target)) * 100

                                if (item.amount_sent === 0) {
                                    values = 1
                                }

                                let progressStartValue = 0,
                                    progress_end_value = parseInt(values),
                                    speed = 100;

                                let progress = setInterval(() => {
                                    progressStartValue++;
                                    {#progress_value.textContent = progressStartValue + "%"#}
                                    if (item.amount_sent === 0) {
                                        progress_value.textContent = "0%"
                                    } else {
                                        progress_value.textContent = progressStartValue + "%"
                                    }

                                    circular_progress.style.background = `conic-gradient(#0d6efd ${progressStartValue * 3.6}deg, white 0deg)`
                                    if (progressStartValue === progress_end_value) {
                                        clearInterval(progress)
                                    }
                                    {#console.log(progressStartValue);#}
                                }, speed);

                                xValue = `${item.current_quantity} KGs`
                                yValue = `${item.target_quantity} KGs`
                                savingTarget = `${item.saving_target}`

                                {#console.log(item)#}
                            }
                        }
                        // }
                    );

                    $('#paymentForm').show(300);
                    $('#orgName').html(org_names);
                    $('#amountBalance').html(amount_balances);
                    $('#x').html(xValue)
                    $('#y').html(yValue)
                    $('.pay').val(payment_id);

                    $('#vendor_id').val(vendor_id)
                    $('#vendor_name').val(vendor_name)
                    $('#vendor_phone').val(vendor_phone)
                    $('#vendor_org').val(vendor_org)
                    $('#vendor_crop').val(vendor_crop)
                    $('#saving_target').val(savingTarget)
                    $('#client_id').val(client_id)
                    $('#client_name').val(client_name)
                    $('#client_phone').val(client_phone)
                    $('#amount_sent').val(amount_sent)
                    $('#category').val(categories)
                    $('#commission').val(commission)
                    $('#selected_crop').val($('#item').val())


                    {#$('#vendor_id').val(vendor_id)#}
                }
            });
            //});

        })
    })
    ;
    //collapsible
    document.addEventListener('DOMContentLoaded', function () {
        let elems = document.querySelectorAll('.collapsible');
        let instances = M.Collapsible.init(elems, {
            inDuration: 300
        });
    });

</script>

</body>
</html>