<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Partners</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/ukulima_partners.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/m_icons.css') }}">
    <link rel="manifest" href="../static/js/manifest.json">

    <script type="text/javascript" src="{{ url_for('static', filename='/js/jquery-3.6.1.min.js') }}"></script>

    <!--IOS support-->
    <link rel="apple-touch-icon" href="../static/images/pngwing.com.png">
    <meta name="apple-web-app-status-bar" content="#00b0ff">

    <link rel="stylesheet" href="/static/css/loading-bar.css">
</head>
<body>

<style>
    .section4 {
        width: 80vw;
        margin: auto;
    }

    @media all and (max-width: 1000px) {
        .section4 {
            width: 80vw;
        }
    }

    @media all and (max-width: 1024px) {
        .section4 {
            width: 100vw;
        }

        .section2 {
            width: 100vw;
        }

        .vendor_org_title {
            display: flex;
            flex-wrap: wrap;
            width: 60%;
            height: auto;
        }
    }

    @media all and (max-width: 378px) {
        .section4 {
            width: 100vw;
        }

        .vendor_org_title {
            display: flex;
            flex-wrap: wrap;
            width: 60%;
            height: auto;
        }
    }
</style>
{#navbar#}
<nav class="nav-wrapper green lighten-2 {#hide-on-med-and-down#} hide-on-med-and-down">
    <a href="#" class="sidenav-trigger" data-target="mobile_links">
        <i class="material-icons">menu</i>
    </a>
    <a href="{{ url_for('ukulima') }}" class="brand-logo" style="margin-left: 0.5em">Habahaba Ukulima</a>
    <ul class="right hide-on-med-and-down">
        <li><a href="{{ url_for('ukulima') }}">Ukulima Wallet</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="{{ url_for('user_logout') }}" style="margin-right: 0.5em">Logout</a></li>
    </ul>
</nav>
{#<a href="#" class="sidenav-trigger btn transparent hide-on-med-and-up" data-target="mobile_links">#}
{#    <i class="material-icons">menu</i>#}
{#</a>#}
<ul class="sidenav" id="mobile_links">
    <div class="nav_container"
         style="height: 100vw; display: flex; flex-direction: column; justify-content: space-between">
        <ul class="top">
            <li><a href="{{ url_for('ukulima') }}">Ukulima Wallet</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <ul class="logout">
            <li><a href="{{ url_for('user_logout') }}">Logout</a></li>
        </ul>
    </div>
</ul>

{% block back_button %}
    <a href="{{ url_for('ukulima') }}"
       class="btn-floating waves-effect waves-light {#blue lighten-3#} hide-on-large-only"
       id="back_button" style="background-color: transparent">
        <ion-icon name="arrow-back-outline" class="back_icon"></ion-icon>
    </a>
{% endblock %}
{% block content %}
    <div class="section1">
        <div class="row" style="text-align: center">
            <h3>Products</h3>
        </div>
        <div class="row" id="icon_container">
            <ion-icon name="people-outline" class="target_icon"></ion-icon>
        </div>
        <center>
            {% include 'includes/_flashmsg.html' %}
        </center>
    </div>
    {% block navs %}
        <div class="section2 black-text white">
            <div class="row center-align black-text">
                <h4 style="padding-top: 0.5em">Selected Products</h4>
            </div>
            <ul class="collection">
                {% for partners in partnered_vendors %}
                    <li class="collection-item avatar">
                        <ion-icon name="people-outline" class="circle" style="color: green"></ion-icon>
                        <span class="title vendor_org_title"><b>{{ partners['vendor_org'] }}</b></span>
                        <p>{{ partners['vendor_crop'] }}
                            {#                            <br>#}
                            {#                            {{ partners['vendor_crop'] }}#}
                        </p>
                        {#                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>#}
                        <div class="secondary-content">
                            <a href="{{ url_for('targets') }}"
                               class="btn waves-effect waves-light green lighten-1 view_more_btn"
                               style="border-radius: 20px">View Target</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {#        <div class="section3 white">#}
        {#            <div class="row center-align black-text">#}
        {#                <h4 style="padding-top: 0.5em">Available Vendors</h4>#}
        {#            </div>#}
        {#    {{ vendor_materials }}#}
        {#            <div class="row" id="available_partners">#}
        {#                <ul class="collection collapsible black-text">#}
        {##}
        {#                    {% for vendor_details in vendor_materials %}#}
        {#                        <li class="collection-item avatar">#}
        {#                            <ion-icon name="people-outline" class="circle"></ion-icon>#}
        {#                            <span class="title"><b>{{ vendor_details['org_name'] }}</b></span>#}
        {#                            <p></p>#}
        {#                            <br>#}
        {#                            <p id="available_offers">#}
        {#                                something was here#}
        {#                            </p>#}
        {#                            <form action="{{ url_for('ukulima_partners') }}" method="post">#}
        {#                                <div class="submit_icon secondary-content">#}
        {#                                    <label for="defaults" hidden></label>#}
        {#                                    <input type="number" name="material_id" id="defaults"#}
        {#                                           value="{{ vendor_details['material_id'] }}" readonly hidden>#}
        {#                                    <input type="text" name="client_name" id="defaults"#}
        {#                                           value="{{ session['f_name'] }} {{ session['l_name'] }}" readonly#}
        {#                                           hidden="hidden">#}
        {#                                    <input type="text" name="client_id" id="defaults"#}
        {#                                           value="{{ session['user_id'] }}" readonly hidden="hidden">#}
        {#                                    <input type="text" name="vendor_org" id="defaults"#}
        {#                                           value="{{ vendor_details['org_name'] }}" readonly hidden="hidden">#}
        {#                                    <button type="submit"#}
        {#                                            style="background-color: transparent; border: none; cursor:pointer;">#}
        {#                                        <i class="material-icons">send</i>#}
        {#                                    </button>#}
        {#                                </div>#}
        {#                            </form>#}
        {##}
        {#                        </li>#}
        {#                    {% endfor %}#}
        {#                </ul>#}
        {#            </div>#}
        {#        </div>#}

        {#        [[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[ SECTION 4 ]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]#}
        <div class="section4 white black-text" style="padding: 0;">
            <div class="heading">
                <h4 style="text-align: center">Available Products</h4>
            </div>
            <div class="section4_content" style="width: 100%; padding-left: 0; padding-right: 0; ">

            </div>
        </div>

        {#        <div class="section5 white black-text" style="padding: 0;">#}
        {#            <div class="heading">#}
        {#                <h4 style="text-align: center">Available Offers</h4>#}
        {#            </div>#}
        {#            <div class="section5_content">#}
        {##}
        {#            </div>#}
        {#        </div>#}
    {% endblock %}
{% endblock %}

{#[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[JAVASCRIPT]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]#}
{#loading-bar.js#}
<script src="/static/js/loading-bar.min.js"></script>
{#ionicons#}
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/js/materialize.min.js') }}"></script>
{#link to app.js for service worker#}
<script src="../static/js/app.js"></script>
<script>
    //stop auto submit on reload
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
    //sidenav
    $(document).ready(function () {
        $('.sidenav').sidenav();

        //Dropdown
        $('select').formSelect();

        {#________________________________#}
        $.ajax({
            'url': '/ukulima-partners-offers-json/',
            'method': 'get',
            'success': function (data) {
                data = JSON.parse(data)
                {#console.log(data)#}
                let display = `<h3> </h3>`
                let details = ``
                data.map(
                    item => {
                        console.log(item)
                        details += `
<div class="offers_container" style="
display: flex;
justify-content: space-between;
border-bottom: 1px solid black;
">
<div class="left_side_container" style="
display: flex;
align-items: center;
">
    <div class="container_icon" style="
font-size: 30px;
display: flex;
align-items: center;
">
        <ion-icon name="pricetags-outline"></ion-icon>
    </div>

    <div class="offer_item" style="display: grid; padding-left: 10px">
        <h5>${item.offer_name}</h5>
    </div>
</div>

    <div class="button_container">
<form action="/offers-redirect/" method="post">
    <input type="hidden" name="offer_id" id="offer_id" value="${item.offer_id}">
    <button type="submit" class="redirecting_button" style="cursor: pointer; background: transparent; border: none;">
                        <i class="material-icons">send</i>
    </button>
</form>
    </div>
</div>

                        `
                    });
                $('.section5_content').html(details)
            }

        });

        $.ajax({
            url: '/crops-json/',
            type: 'get',
            success: function (data) {
                data = JSON.parse(data)
                {#console.log(data)#}
                let products = ``
                let locations = ``

                {#data.forEach(console.log)#}

                data.forEach(
                    item => {
                        {#console.log(item.region_available)#}
                        //if (item['region_available'] !== 'null') {
                        //  console.log('WORKED')
                        //} else if (item['region_available'] === null) {
                        //  console.log('ALMOST WORKED')
                        // }

                        {#console.log(item)#}
                        if (item.offer_status === 'Accepted') {
                            locations = `
<style>
.offer_section:hover{
background-color:green;
color: white;
}
</style>
<div class="offer_section" style="
display: inline-flex;
padding: 5px;
align-items: center;
font-size: 15px;
border: 1px solid green;
border-radius: 30px;
cursor:pointer;
transition: 300ms ease;
">

        <ion-icon name="pricetags-outline"></ion-icon>

</div>
                            `
                        }
                        products += `
<div class="materials_container" style="
            display: flex;

            padding-top: 5px;
            border: 0;
            margin: 0;
            box-shadow: 0 0.1px 1px 0 black;
            height: 100%;
            width: 100%;

">

<div class="material_name" style="
                display: flex;
                justify-content: flex-start;
                padding-left: 5px;
                width: 80%;
                height: auto;


">
<div class="icon" style="
                display: flex;
                align-items: center;
                font-size: 25px;
                margin-right: 10px;
                padding: 0;
">
    <ion-icon name="bag-add-outline" style=""></ion-icon>
</div>
    <h5 >${item.crop_name}</h5>
</div>
<div class="send_icon"
style="
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-right: 5px;
                width: 20%;
                height: auto;
   ">
<form action="/crops-redirect/" method="post">
    <input type="hidden" name="material_id" id="material_id" value="${item.material_id}">
    <input type="hidden" name="crop_name" id="crop_name" value="${item.crop_name}">
    <button type="submit" class="redirecting_button" style="cursor: pointer; background: transparent; border: none;">
                        <i class="material-icons">send</i>
    </button>
</form>
                </div>
            </div>
                        `
                    }
                )

                $('.section4_content').html(products)
            }
        });


        //collapsible
        $('.collapsible').collapsible();
    });

</script>

</body>
</html>