{% extends 'ukulima.html' %}
{% block body %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Change Password</title>
        {#    <link rel="stylesheet" href="/static/css/user_change_password.css">#}
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/user_change_password.css') }}">
    </head>
    <body>
    <br>
    <div class="flash" style="text-align: center">
        {% include 'includes/_flashmsg.html' %}
    </div>
    <form action="{{ url_for('user_change_password') }}" method="post">
        <div class="change_password_container black-text">
            <h4>Change Pin</h4>
            {#        current password#}
            <div class="row">
                <div class="input-field col s12">
                    <input type="number" name="current_pin" id="current_pin" class="validate"
                           placeholder="Please enter your current pin" required>
                    <label for="current_pin">Current Pin:</label>
                </div>
            </div>

            {#        new pin#}
            <div class="row">
                <div class="input-field col s12">
                    <input type="number" name="new_pin" id="new_pin" class="validate"
                           placeholder="Please enter a new pin" required>
                    <label for="new_pin">New Pin:</label>
                </div>
            </div>

            {#        confirm pin#}
            <div class="row">
                <div class="input-field col s12">
                    <input type="password" name="confirm_pin" id="confirm_pin" class="validate"
                           placeholder="Please confirm your pin" required>
                    <label for="confirm_pin">Confirm Pin:</label>
                </div>
            </div>

            <div class="row" style="display: flex; justify-content: center">
                <button class="btn waves-light waves-effect green lighten-2" type="submit">Change Password</button>
            </div>
        </div>
    </form>
    </body>
    </html>
{% endblock %}
