{% extends 'vendor_home.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Redemption Summary</title>
</head>
<body>
{% block dashboard %}
    <section class="content-header" style="width: 93%; margin-left: 5.6%; padding-left: 0; ">
        <h2>Redemption Summary</h2>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('vendor_home') }}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Redemption Summary</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <br>
    <div class="content-top-1 box box-success">
        <div class="box-body">
            <br>
            {#HAS NO PLACE OF REDEMPTION#}
            <table class="ui celled table" width="100%" id="redemptionSummaryTable">
                <thead>
                <tr>
                    <th></th>
                    <th>Customer Name</th>
                    <th>Amount Saved</th>
                    <th>Saving Target</th>
                    <th>Amount Redeemed</th>
                    <th>Date Redeemed</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

    <script>
        //datatables
        $(document).ready(function () {
            {#$('#myTable').DataTable();#}
            let table = $('#redemptionSummaryTable').DataTable({
                destroy: true,
                responsive: false,
                "ajax": {
                    url: '/redemption-summary-json/',
                    type: 'get'
                },
                "order": [[0, "desc"]],
                select: {
                    style: 'single',
                    selector: 'tr'
                },
                {#having a checkbox#}
                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0
                }],
                scrollY: "800px",
                scrollX: true,
                scrollCollapse: true,
                paging: true,
                fixedColumns: true,
                lengthChange: true,
                "rowCallback": function (nRow, aData) {
                    {#removing the values on a checkbox#}
                    $('td', nRow).eq(0).html('');

                }
            });
            let buttons = new $.fn.dataTable.Buttons(table, {
                buttons: ['excelHtml5', 'pdfHtml5', 'colvis']
            });
            buttons.container().appendTo($('div.right.aligned.eight.column:eq(0)', table.table().container()));
        });
    </script>
{% endblock %}
</body>
</html>